openapi: 3.1.0
info:
  title: OpenAI APIs OpenAI Assistants Transcription API
  description: API for building AI assistants with custom instructions, knowledge retrieval, code execution, and function calling capabilities. Supports managing assistants, threads, messages, and runs.
  version: '2.0'
  contact:
    name: OpenAI Support
    email: support@openai.com
    url: https://help.openai.com
  termsOfService: https://openai.com/policies/terms-of-use
servers:
- url: https://api.openai.com/v1
  description: OpenAI Production API
security:
- bearerAuth: []
tags:
- name: Transcription
  description: Speech-to-text transcription operations
paths:
  /audio/transcriptions:
    post:
      operationId: createTranscription
      summary: OpenAI APIs Create transcription
      description: Transcribes audio into the input language as text using the Whisper model.
      tags:
      - Transcription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: Transcription response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized - invalid or missing API key
        '429':
          description: Rate limit exceeded
components:
  schemas:
    CreateTranscriptionRequest:
      type: object
      required:
      - file
      - model
      properties:
        file:
          type: string
          format: binary
          description: The audio file to transcribe (flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm)
        model:
          type: string
          description: The model to use for transcription (whisper-1)
          examples:
          - whisper-1
        language:
          type: string
          description: The language of the input audio in ISO-639-1 format
        prompt:
          type: string
          description: Optional text to guide the model's style or continue a previous segment
        response_format:
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
          description: The format of the transcription output
        temperature:
          type: number
          minimum: 0
          maximum: 1
          default: 0
          description: Sampling temperature between 0 and 1
        timestamp_granularities:
          type: array
          items:
            type: string
            enum:
            - word
            - segment
          description: The timestamp granularities to populate
    TranscriptionResponse:
      type: object
      properties:
        text:
          type: string
          description: The transcribed text
        task:
          type: string
          description: The task performed (transcribe)
        language:
          type: string
          description: The detected or specified language
        duration:
          type: number
          description: The duration of the audio in seconds
        words:
          type: array
          items:
            type: object
            properties:
              word:
                type: string
              start:
                type: number
              end:
                type: number
          description: Word-level timestamps (when requested)
        segments:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              start:
                type: number
              end:
                type: number
              text:
                type: string
          description: Segment-level timestamps (when requested)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: OpenAI API key passed as a Bearer token
externalDocs:
  description: OpenAI Assistants API Documentation
  url: https://platform.openai.com/docs/api-reference/assistants
