openapi: 3.1.0
info:
  title: OpenAI APIs OpenAI Assistants Translation API
  description: API for building AI assistants with custom instructions, knowledge retrieval, code execution, and function calling capabilities. Supports managing assistants, threads, messages, and runs.
  version: '2.0'
  contact:
    name: OpenAI Support
    email: support@openai.com
    url: https://help.openai.com
  termsOfService: https://openai.com/policies/terms-of-use
servers:
- url: https://api.openai.com/v1
  description: OpenAI Production API
security:
- bearerAuth: []
tags:
- name: Translation
  description: Audio translation operations
paths:
  /audio/translations:
    post:
      operationId: createTranslation
      summary: OpenAI APIs Create translation
      description: Translates audio into English text using the Whisper model.
      tags:
      - Translation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranslationRequest'
      responses:
        '200':
          description: Translation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized - invalid or missing API key
        '429':
          description: Rate limit exceeded
components:
  schemas:
    TranslationResponse:
      type: object
      properties:
        text:
          type: string
          description: The translated text in English
    CreateTranslationRequest:
      type: object
      required:
      - file
      - model
      properties:
        file:
          type: string
          format: binary
          description: The audio file to translate
        model:
          type: string
          description: The model to use for translation (whisper-1)
          examples:
          - whisper-1
        prompt:
          type: string
          description: Optional text to guide the model's style
        response_format:
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
          description: The format of the translation output
        temperature:
          type: number
          minimum: 0
          maximum: 1
          default: 0
          description: Sampling temperature between 0 and 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: OpenAI API key passed as a Bearer token
externalDocs:
  description: OpenAI Assistants API Documentation
  url: https://platform.openai.com/docs/api-reference/assistants
